{% extends "base.html" %}
{% load static %}

{% block startscript %}
<script type="text/javascript">
    var qType = '{{ q.q_type }}';
    var qDimension = '{{ q.q_dimension }}';
    var qSet = '{{ q.q_set }}';
    var qIndex = '{{ q.q_index }}';
    var qVal;
    if (qType == 'pilot' && qDimension == 'length') {
        qVal = 300;
    }
    else {
        qVal = '{{ q_val }}';
    }
    // console.log('q_val: ');
    // console.log(qVal);
    const qMin = '{{ q.q_min }}';
    const qMax = '{{ q.q_max }}';
    window.sessionStorage.setItem('session', qDimension);
</script>
{% endblock startscript %}

{% block pagetitle %}
    {% if q.q_type == 'pilot' %}
        Warm-up Practice Session
        {% else %}
        Formal Testing Session
    {% endif %}
{% endblock pagetitle %}

{% block header %}
    <div class="col header">
        {% if q.q_type == 'pilot' %}
            <h2 id="test">Warm yourself up!</h2>
        {% elif q.q_type == 'test' %}
            {% if q.q_set == 1 and q.q_index == 1 %}
                {% if 'color' in q.q_dimension %}
                    {% if 'background' in q.q_dimension %}
                        <h2 class="header-text">The next 10 questions are about {{ q.q_dimension|slice:":-17"|capfirst }} and Background Color.</h2>
                    {% else %}
                        <h2 class="header-text">The next 10 questions are about {{ q.q_dimension|slice:":-6"|capfirst }} and Color.</h2>
                    {% endif %}
                {% else %}
                    <h3 class="header-text">The next 10 questions are about {{ q.q_dimension|capfirst }}.</h3>
                {% endif %}
                <h3 class="q-num">Question {{ q.q_index }}</h3>
            {% else %}
                {% if q.q_set == 1 %}
                    <h3 class="q-num">Question {{ q.q_index }}</h3>
                {% elif q.q_set == 2 %}
                    <h3 class="q-num">Question {{ q.q_index|add:"5" }}</h3>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
{% endblock header %}


{% block content %}

    <div class="col" id="min-div">
    </div>
    <div class="col" id="val-div">
    </div>
    <div class="col" id="max-div">
    </div>
    <div class="modal fade" id="answer-modal" tabindex="-1" role="dialog"  data-backdrop="static" data-keyboard="false">
        <form name="answer" action="" method="post" onkeypress="return event.keyCode != 13;">
            {% csrf_token %}
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Fill the answer</h5>
                        <button type="button" class="close" id="close-button" aria-label="close" onclick="closeAnswer()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="modal-body">
                        <div class="input-group" id="input-group">
                            {{ form }}
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" type="button" onclick="submitAnswer()" id="button-submit-answer">Submit</button>
                            </span>
                        </div>
                    </div>
        </form>
                    <div class="modal-footer" id="modal-footer">
                        <form name="next" method="post" onkeypress="return event.keyCode != 13;">
                            {% csrf_token %}
                            <button class="btn btn-success" id="next-button" name="next-button" type="submit" style="visibility: hidden;">Next</button>
                        </form>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}

{% block footer %}
    <div class="col" style="text-align: center;">
        <button id="a-btn" class="btn btn-primary" type="button" data-toggle="modal" data-target="#answer-modal" onclick="clickToAnswer()">Click to Answer</button>
    </div>
{% endblock footer %}


{% block endscript %}
    <script type="text/javascript" src="{% static 'scripts/render_1d.js' %}"></script>
    <script type="text/javascript">
        var loadedTime;
        window.addEventListener('load', function(e) {
            // loadedTime = new Date(Date.now());
            loadedTime = Date.now();
            // console.log(new Date(Date.now()));
            // console.log('window loaded!');
        });
        if (qType == 'pilot' && qDimension == 'length') {
            let btn = document.getElementById('a-btn');
            btn.addEventListener('mouseover', function(e) {
                e.target.removeEventListener(e.type, arguments.callee);
                alert('Click to answer only after you are ready to answer!!! \n请确认您已思考完毕且完全准备好答题时再点击！');
            }, false);
        }
    </script>
{% endblock endscript %}
