{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    Take a break...
{% endblock pagetitle %}

{% block header %}
    <div class="col-2 header"></div>
    <div class="col-8 header"></div>
    <div class="col-2 header"></div>
{% endblock header %}

{% block content %}
    <div class="col-2 header"></div>
    <div class="col-8 content">
        <h2 class="header-text" data-toggle="tooltip" data-placement="bottom" title="休息一下！">Take a break!</h2>
        <h2 class="header-text" data-toggle="tooltip" data-placement="top" title="当您休息完毕准备好了，点击“Next Session”进入下一阶段。">When you are ready for the next session, click "Next Session" to enter. </h2>
    </div>
    <div class="col-2 header"></div>
{% endblock content %}

{% block footer %}
    <div class="col footer">
        <button class="btn btn-primary" type="submit" onclick="clickToNextSession()">Next Session</button>
    </div>
{% endblock footer %}
