{% extends "base.html" %}
{% load static %}

{% block pagetitle %}
    Start
{% endblock pagetitle %}

{% block header %}
    <div class="col-2 header"></div>
    <div class="col-8 header">
        <h2 class="header-text" data-toggle="tooltip" data-placement="bottom" title="实验正式开始！">The formal testing starts here!</h2>
        <h3 class="header-text" data-toggle="tooltip" data-placement="top" title="全部实验分为3个阶段。每个阶段中间可休息2分钟。">The testing has 3 sessions. <br>You may take a break between sessions.</h3>
        <h3 class="header-text" data-toggle="tooltip" data-placement="top" title="当你准备好了，点击“Start”即可开始进入正式实验。">When you are ready, click "Start" to enter the formal testing. </h3>
    </div>
    <div class="col-2 header"></div>
{% endblock header %}

{% block footer %}
    <div class="col footer">
        <button class="btn btn-primary" type="submit" onclick="clickToStart()">Start</button>
    </div>
{% endblock footer %}
