{% load static %}
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Example Quesiton">
<meta name="author" content="Zheng Zhou">
<title>
{% block pagetitle %}
Example
{% endblock pagetitle %}
</title>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/vendor/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/stylesheet.css' %}">
<script type="text/javascript" src="{% static 'scripts/vendor/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/vendor/bootstrap.min.js' %}"></script>

</head>
<body>
    <div class="container" id="container">
        <div class="row header">
            <div class="col-2 header"></div>
            <div class="col-8 header" id='header'>
                <h5 class="header-text" data-toggle="tooltip" data-placement="bottom" title="示例">Here's how the visual representation changes against different numbers.</h5>
            </div>
            <div class="col-2 header"></div>
        </div>
        <div class="row content">
            <div class="col-2"></div>
            <div class="col-8 content" id="example-image"></div>
            <div class="col-2"></div>
        </div>
        <div class="row footer">
            <div class="col footer">
                <button class="btn btn-primary" type="submit" onclick="fromExample()">Next</button>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var qDimension = sessionStorage.getItem('q_dimension');
        var img = document.createElement('img');
        var header = document.createElement('h4');
        var imgPar = document.getElementById('example-image');
        var headerPar = document.getElementById('header');
        imgPar.appendChild(img);
        headerPar.prepend(header)
        var nextDimension;
        switch(qDimension) {
            case 'start_length':
                header.innerText = 'The next 5 questions are about the Length in Vertical dimension.';
                img.src = '{% static "img/example_length.png" %}';
                nextDimension = 'length';
                break;
            case 'length':
                header.innerText = 'The next 5 questions are about the Length in Horizontal and Vertical dimensions.';
                img.src = '{% static "img/example_area.png" %}';
                nextDimension = 'area';
                break;
            case 'area':
                header.innerText = 'The next 5 questions are about the Length in 3D dimensions.';
                img.src = '{% static "img/example_volume.png" %}';
                nextDimension = 'volume';
                break;
            case 'volume':
                header.innerText = 'The next 5 questions are about the Length in 3D diemensions and the Colors.';
                img.src = '{% static "img/example_volume_color.png" %}';
                nextDimension = 'volume_color';
                break;
            default:
                console.log('example can\'t be loaded.');
        }
        img.className = 'img-fluid';
        img.setAttribute('alt', 'example_image');
        img.setAttribute('width', '2000');
        header.className = 'header-text';
        function fromExample() {
            window.location.href = '/dcoding/question/test/' + nextDimension + '/1/1';
        }
    </script>
</body>
</html>
