{% load static %}
<!doctype html>
<html lang="en-US">
<head>
<meta http-equiv="content-type" content="text/html" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="description">
<meta name="author" content="Zheng Zhou">
<title>Testing Entry</title>
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/stylesheet.css' %}">
</head>
<body style="overflow: hidden;">
    <div class="entrypoint">
        <div class="entrybtns">
            <a class="btn-entry" href=" /dcoding ">Double Coding</a>
            <a class="btn-entry" href=" /dcoding-1d ">Length &amp; Color</a>
        </div>
        <a class="btn-admin btn-entry" href=" /admin " style="margin: 0 auto;">Admin</a>
    </div>
</body>
</html>
